.info-list {
  list-style: none;
  font-size: 1.8rem;
  padding: 5rem 2rem;

&__item {
  margin-bottom: 1.8rem;
  padding-bottom: .5rem;
  color: #eee;
  border-bottom: 1px solid rgba(#eee, .2);
  letter-spacing: 1.5px;

  span {
    color: rgba(#eee, .5);
    padding-right: 1rem;
  }

  a {
    color: #eee;
    margin-right: .5rem;
  }
}

}
