.list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: .5rem;
  min-height: 30rem;

  &__item {
    overflow: hidden;
    text-align: center;
    min-height: 30rem;
  }

}
