:root {
  --color-primary-dark:#303030;
  --color-primary: #333333;
  --color-primary-light: #444444;

  --color-secondary-dark: #0D47A0;
  --color-secondary: #3AD0FF;
  --color-secondary-light: #B9E0FF

  --color-text-light: #FAFAFA;
  --color-text-dark: #000;

  --color-black: #000;
  --color-white: #eee;
}


