<ul class="info-list">
  <li class="info-list__item">
    <span>Format:</span> Show
  </li>
  <li class="info-list__item" *ngIf="createdBy.length">
    <span>Created by:</span>
    <a *ngFor="let creator of createdBy" [routerLink]="creator.url">
      {{ creator.name }}
    </a>
  </li>
  <li class="info-list__item" *ngIf="tv.first_air_date">
    <span>First air date:</span> {{ tv.first_air_date | date }}
  </li>
  <li class="info-list__item" *ngIf="tv.last_air_date">
    <span>Last air date:</span> {{ tv.last_air_date | date }}
  </li>
  <li class="info-list__item" *ngIf="tv.seasons">
    <span>Seasons:</span> {{ tv.seasons.length - 1 || 1 }}
  </li>
  <li class="info-list__item" *ngIf="genres">
    <span>Genre:</span> {{ genres }}
  </li>
  <li class="info-list__item" *ngIf="network">
    <span>Network:</span> {{ network }}
  </li>
  <li class="info-list__item" *ngIf="tv.origin_country">
    <span>Country:</span> {{ tv.origin_country }}
  </li>
  <li class="info-list__item" *ngIf="tv.vote_average">
    <span>Average score:</span> {{ tv.vote_average | number:'1.1-1' }} / 10
  </li>
  <li class="info-list__item" *ngIf="tv.vote_count">
    <span>Number of votes:</span> {{ tv.vote_count | number }}
  </li>
</ul>
