.pagination {
  text-align: center;
  margin: 4rem 0;

  &__list {
    display: flex;
    justify-content: center;
    list-style: none;
    text-align: center;
  }

  &__btn {
    padding: 1rem 3rem;
    margin: 0 1rem;
    font-size: 1.6rem;
    font-weight: 100;
    font-family: inherit;
    outline: none;
    border: none;
    cursor: pointer;
    opacity: .9;

    @media screen and (max-width: 700px) {
      padding: .6rem 2rem;
    }

    @media screen and (max-width: 420px) {
      padding: .2rem 1rem;
    }

    &:disabled {
      color: white;
      cursor: default;
    }

    &:hover:not(:disabled) {
      opacity: 1;
    }

  }

  &__footer {
    margin-top: 1rem;
    font-size: 1.4rem;
  }

}
