.related-results {
  text-align: center;

  &__link {
    margin: 2rem auto;
    display: inline-block;
    font-size: 1.6rem;
    color: var(--color-white);
    letter-spacing: 2px;
    transition: all .4s;

    &:hover {
      transform: translateY(-3px);
      opacity: .9;
    }

    &:active {
      transform: translateY(5px);
    }
  }

}
