<main class="person">

  <section class="person__section person__section--img">
    <img src="{{ imgUrl }}" alt="{{ person.name }}">
  </section>

  <section class="person__section person__section--info">
    <h1 class="person__title">{{ person.name }}</h1>
    <app-show-person-info-list [person]="person"></app-show-person-info-list>
  </section>

  <section class="person__section person__section--description">
    <h2 class="person__title">Description</h2>
    <p class="person__overview">{{person.biography}}</p>
  </section>

  <section class="person__section person__section--stared-in-movies">
    <h2 class="person__title">In movies</h2>
    <div class="person__related-results">
      <app-show-related type="biography-movie-cast"></app-show-related>
    </div>
  </section>

  <section class="person__section person__section--stared-in-shows">
    <h2 class="person__title">In shows</h2>
    <div class="person__related-results">
      <app-show-related type="biography-tv-cast"></app-show-related>
    </div>
  </section>

</main>
