.pagination {
  text-align: center;
  margin: 4rem 0;

  &__list {
    display: flex;
    justify-content: center;
    list-style: none;
    text-align: center;
  }

  &__btn {
    padding: .6rem 3rem;
    outline: none;
    cursor: pointer;

    @media screen and (max-width: 700px) {
      padding: .6rem 2rem;
    }

    @media screen and (max-width: 420px) {
      padding: .2rem 1rem;
    }

    &:disabled {
      color: white;
      cursor: default;
    }

  }

  &__footer {
    margin-top: 1rem;
    font-size: 1.4rem;
  }

}
