<main class="media">

  <section class="media__section media__section--img">
    <img src="{{ posterUrl }}" alt="{{ title }}">
  </section>

  <section class="media__section media__section--info">
    <h1 class="media__title">{{ title }}</h1>
    <app-show-media-info-list-switch
      [media]="media"
      [mediaType]="mediaType">
    </app-show-media-info-list-switch>
    <app-show-media-links [media]="media"></app-show-media-links>
  </section>

  <section class="media__section media__section--description">
    <h2 class="media__title">Description</h2>
    <h3 class="media__subtitle"> <em>{{media.tagline}}</em> </h3>
    <p class="media__overview">{{media.overview}}</p>
  </section>

  <section class="media__section media__section--cast">
    <h2 class="media__title">Cast</h2>
    <div class="media__related-results">
      <app-show-related type="cast"></app-show-related>
    </div>
  </section>

  <section class="media__section media__section--recommendations">
    <h2 class="media__title">You might also like</h2>
    <div class="media__related-results">
      <app-show-related type="recommendations"></app-show-related>
    </div>
  </section>

  <section class="media__section media__section--other">
    <h2 class="media__title">
      Other {{ mediaType === 'tv' ? 'shows' : 'movies' }}
    </h2>
    <div class="media__related-results">
      <app-show-related type="similar"></app-show-related>
    </div>
  </section>

</main>
