<ul class="info-list">
  <li class="info-list__item">
    <span>Format:</span> Movie
  </li>
  <li class="info-list__item" *ngIf="genres">
    <span>Genres:</span> {{ genres }}
  </li>
  <li class="info-list__item" *ngIf="movie.budget">
    <span>Budget:</span> {{ movie.budget | currency }}
  </li>
  <li class="info-list__item" *ngIf="movie.revenue">
    <span>Revenue:</span> {{ movie.revenue | currency}}
  </li>
  <li class="info-list__item" *ngIf="movie.original_title">
    <span>Original title:</span> {{ movie.original_title }}
  </li>
  <li class="info-list__item" *ngIf="movie.release_date">
    <span>Release date:</span> {{ movie.release_date | date }}
  </li>
  <li class="info-list__item" *ngIf="movie.status">
    <span>Status:</span> {{ movie.status }}
  </li>
  <li class="info-list__item" *ngIf="movie.original_language">
    <span>Language:</span> {{ movie.original_language }}
  </li>
  <li class="info-list__item" *ngIf="movie.vote_average">
    <span>Average score:</span> {{ movie.vote_average | number: '1.1-1' }} / 10
  </li>
  <li class="info-list__item" *ngIf="movie.vote_count">
    <span>Number of votes:</span> {{ movie.vote_count | number }}
  </li>
</ul>
