<ng-container *ngIf="{
  res: request$ | async,
  err: error$ | async
} as subscription">

  <ng-container *ngIf="subscription.err as error">

    <h2 class="u-absolute-center">{{error}}</h2>

  </ng-container>

  <ng-container *ngIf="!subscription.err && subscription.res as res">

    <app-credits-list-controller [credits]="res"></app-credits-list-controller>

  </ng-container>

  <ng-container *ngIf="!subscription.err && !subscription.res">

    <div class="u-absolute-center">
      <app-loading-spinner></app-loading-spinner>
    </div>

  </ng-container>

</ng-container>
