<ng-container *ngIf="{
  res: request$ | async,
  err: error$ | async
} as subscription">

  <ng-container *ngIf="subscription.err">

    <h2 class="u-fix-center">Unable to get results</h2>

  </ng-container>

  <ng-container *ngIf="!subscription.err && !subscription.res">

    <app-loading-spinner></app-loading-spinner>

  </ng-container>

  <ng-container *ngIf="!subscription.err && subscription.res as res">

    <app-show-related-results
      [requestConfig]="requestConfig"
      [response]="res">
    </app-show-related-results>

  </ng-container>

</ng-container>
