<article class="filters">
  <section
    *ngFor="let category of filtersSvc.filters | keyvalue"
    class="filters__category">
    <h4 class="filters__category-name">{{ category.key }}</h4>
    <ul class="filters__list">
      <li
        *ngFor="let filter of category.value"
        class="filters__list-item">
        <button
          class="filters__btn"
          [ngClass]="{ 'filters__btn--selected': filter.isApplied }"
          (click)="onSelectFilter(category.key, filter.name)">
          {{ filter.name | replaceAll:'_':' ' }}
        </button>
      </li>
    </ul>
  </section>

  <section
    *ngIf="isSearchPage"
    class="filters__search-bar">
    <app-index-search-bar></app-index-search-bar>
  </section>
</article>
