<ul class="media-links">

  <li *ngIf="media.homepage">
    <a class="media-links__link" href="{{ media.homepage }}" target="_blank">
      <app-globe-icon></app-globe-icon>
      Home
    </a>
  </li>

  <li *ngIf="imdbUrl">
    <a class="media-links__link" href="{{ imdbUrl }}" target="_blank">
      <app-imdb-icon></app-imdb-icon>
      IMDb
    </a>
  </li>

  <li *ngIf="youtubeUrl">
    <a class="media-links__link" href="{{ youtubeUrl }}" target="_blank">
      <app-youtube-icon></app-youtube-icon>
      Trailer
    </a>
  </li>

  <li *ngIf="posterUrl">
    <a class="media-links__link" href="{{ posterUrl }}" target="_blank">
      <app-poster-icon></app-poster-icon>
      Poster
    </a>
  </li>

</ul>
