.list-controller {
  color: #eee;
  text-align: center;
  background-color: var(--color-black);
  padding: 0 4rem;
  min-height: calc(100vh - var(--nav-main-height));

  @media screen and (max-width: 40em) {
    padding: 0 1rem;
  }

}
