<nav class="nav">
  <ul class="nav__list">
    <li
      class="nav__list-item"
      [ngClass]="{ 'nav__list-item--active': activePage === 'trending' }">
      <a class="nav__link" routerLink="/index/trending">
        <app-trending-icon></app-trending-icon>
        <div>Trending</div>
      </a>
    </li>
    <li
      class="nav__list-item"
      [ngClass]="{ 'nav__list-item--active': activePage === 'movie' }">
      <a class="nav__link" routerLink="/index/movie">
        <app-movie-icon></app-movie-icon>
        <div>Movies</div>
      </a>
    </li>
    <li
      class="nav__list-item"
      [ngClass]="{ 'nav__list-item--active': activePage === 'tv' }">
      <a class="nav__link" routerLink="/index/tv">
        <app-tv-icon></app-tv-icon>
        <div>Tv</div>
      </a>
    </li>
    <li
      class="nav__list-item"
      [ngClass]="{ 'nav__list-item--active': activePage === 'person' }">
      <a class="nav__link" routerLink="/index/person">
        <app-people-icon></app-people-icon>
        <div>People</div>
      </a>
    </li>
    <li
      class="nav__list-item"
      [ngClass]="{ 'nav__list-item--active': activePage === 'search' }">
      <a class="nav__link" routerLink="/index/search">
        <app-search-icon></app-search-icon>
        <div>Search</div>
      </a>
    </li>
  </ul>
</nav>
